<section class="content">
    <ng-container *ngIf="jobLoading">
        <i class="fa fa-spinner fa-spin"></i>
    </ng-container>
    <ng-container *ngIf="!jobLoading">
        <div class="box box-info">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <div class="pull-right">
                            <div class="form-inline">
                                <div class="form-group ">
                                    <label for="">Search Job :</label><input type="text" placeholder="Job Title"
                                                                             class="form-control margin-left-15px"
                                                                             (keyup)="searchJob($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!(jobs && jobs.length > 0)">
                <div class="main-content padding-20px-tb plr-15">
                    <p class="text-muted">No jobs available to show</p>
                </div>
            </ng-container>
            <ng-container *ngIf="jobs && jobs.length > 0">
                <data-table [showViewField]='false' pageSize='10' sortField='name' sortOrder='1'
                            [showSearchFeild]='false'
                            [totalItems]='totalItems' (onFilterChange)="onFilterChange($event)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table bg-dark-black border-light  no-footer data-table"
                                       id="DataTables_Table_0"
                                       role="grid">
                                    <thead>
                                    <tr class="font-weight-bold">
                                        <th width="20%">
                                            <div class="sorting">Job
                                                <!--<i class="fa fa-sort ml-2" (click)="onSort('email')" aria-hidden="true"></i>--></div>
                                        </th>
                                        <th>Experience</th>
                                        <th>Job Type</th>
                                        <th>view Job</th>
                                        <th>Upload Resume</th>
                                        <th>Referral</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let job of jobs; let jobIndex = index;"
                                        class="font-weight-bold">
                                        <td>
                                            {{job.title}}
                                        </td>
                                        <td>
                                            {{job.minExperience}} - {{job.maxExperience}} (Years)
                                        </td>
                                        <td>
                                            {{job.type}}
                                        </td>
                                        <td>
                                            <a><i class="fa fa-eye" (click)="viewJob(job)"></i></a>
                                        </td>
                                        <td>
                                            <a><i class="fa fa-upload" (click)="uploadResume(job._id)"></i></a>
                                        </td>
                                        <td>
                                            <a><i class="fa fa-users" (click)="searchApplicant(job)"> </i></a>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </data-table>
            </ng-container>

        </div>
    </ng-container>

</section>
