<div class="modal-header">
    <button id="closeButton" type="button" class="close" (click)="bsModelRef.hide()" data-dismiss="modal">&times;
    </button>
    <h4 class="modal-title">Applicant</h4>
</div>
<div class="modal-body content-move">
    <form novalidate [formGroup]="applicantForm" (ngSubmit)="createApplicant(applicantForm.value)">
        <div class="row">
            <div class="col-sm-4">
                <label for="resume">Resume</label>
                <input id="resume" type="file" class="form-control" formControlName="resume" #file
                       (change)="onFileChange(file.files)" multiple="" accept=".doc, .docx, .pdf">
                <small class="text-danger" *ngIf="errInvalidFile">
                    {{errInvalidFile}}
                </small>
            </div>
            <div class="col-sm-4">
                <label for="dob">Date of Birth</label>
                <input id="dob" type="text" class="form-control" placeholder="Select Your Date of Birth"
                       formControlName="dob"
                       bsDatepicker/>
            </div>
            <div class="form-group col-md-4">
                <input type="hidden" placeholder="Source" class="form-control" formControlName="source">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="fname" class="required">First Name</label>
                <input id="fname" type="text" placeholder="First name" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group col-md-4">
                <label for="middleName" class="not-required">Middle Name</label>
                <input id="middleName" type="text" placeholder="Middle name" class="form-control"
                       formControlName="middleName">
            </div>
            <div class="form-group col-md-4">
                <label for="lname" class="not-required">Last Name</label>
                <input id="lname" type="text" placeholder="Last name" class="form-control" formControlName="lastName">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="email" class="required">Email Address</label>
                <input id="email" type="text" placeholder="Email address" class="form-control" formControlName="email">
                <small class="text-danger" *ngIf="applicantForm.controls['email'].hasError('emailValid')">
                    Please enter correct email
                </small>
            </div>
            <div class="form-group col-sm-4">
                <label for="contact" class="not-required">Contact No.</label>
                <input id="contact" type="text" placeholder="900000000" class="form-control" formControlName="phone">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="availability">Availability</label>
                <select id="availability" class="form-control" formControlName="availability"
                        (change)="validateAvailability($event)">
                    <option value="" selected disabled>Select time</option>
                    <option value="0">Immediate</option>
                    <option value="1">One month</option>
                    <option value="2">Two months</option>
                    <option value="3">More than two months</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="noticePeriod">Notice Period (Months)</label>
                <input id="noticePeriod" type="text" placeholder="Notice period" class="form-control"
                       formControlName="noticePeriod">
            </div>

            <div class="form-group col-sm-4">
                <label for="noticePeriodNegotiable">Notice Period (Negotiable)</label>
                <input id="noticePeriodNegotiable" type="text" placeholder="Yes/No" class="form-control"
                       formControlName="noticePeriodNegotiable">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button [disabled]="isSubmitDisabled" type="submit"
                        class="btn btn-primary mt-10 mb-10 border-radius-30">Submit
                    <span *ngIf="!isDetailsUploading">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
                    <span *ngIf="isDetailsUploading">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
                </button>
            </div>
        </div>
    </form>
</div>
