<ul class="todo-list ui-sortable" *ngIf="resume">
  <li>
    <span class="text">
      <a type="button" class="btn btn-sm" (click)="open()">{{resume?.fileName}}</a>
      <a type="button" class="btn btn-primary btn-sm pl-5" (click)="download(resume?._id)"><i class="fa fa-download"></i></a>
    </span>
  </li>
</ul>

<!-- <form [formGroup]="resumeForm" novalidate (ngSubmit)="upload()">
  <div class="row">
    <div class="form-group col-sm-12">
      <small class="text-danger"
        *ngIf="resumeForm.controls['resume'].hasError('required') && resumeForm.controls['resume'].touched">
        Please select file
      </small>
      <small class="text-danger" *ngIf="errInvalidFile">
        Please select only pdf /doc /docx file
      </small>
      <input type="file" class="resume_upload-input" multiple="" accept=".doc, .docx, .pdf"
        name="resume" #file (change)="onFileChange(file.files)" formControlName="resume">
    </div>
  </div>
  <button [disabled]="isResumeUploading" type="submit" class="btn btn-success">Upload
    <span *ngIf="!isResumeUploading">
      <i class="fa fa-arrow-circle-right"></i>
    </span>
    <span *ngIf="isResumeUploading">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
  </button>
</form> -->

<ng-template #template>
  <div id="resume-modal" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="modalRef.hide()">&times;</button>
        <h4 class="modal-title">Resume</h4>
      </div>
      <div class="modal-body">
        <div [innerHTML]="resume_html | sanitizeHtml">
        </div>
      </div>
    </div>
  </div>
</ng-template>