<div class="info-box-wrapper line-height-22">
    <a class="font-weight-600 text-meteorite mb-0 c-pointer" (click)="name_clicked()">
        {{getName(applicant)}}
    </a>
    <button type="button" (click)="removeUser(applicant.jobApplicants._id)" class="removeApplicant">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <p class="mt-10 text-11 font-weight-500 mb-5 mt-5 line-height-20">Email:
        {{applicant?.email}}</p>
    <p class="text-11 font-weight-500 mb-5 line-height-20">Phone: <span
            *ngFor="let phone of applicant.phones">{{phone}}</span></p>
    <div class="row">
        <div class="col-sm-2">
            <p class="text-11 font-weight-500 mb-5 line-height-20">State</p>
        </div>
        <div class="col-sm-10">
            <select class="state-dropdown" (change)="changePipelineStatus($event.target.value)">
                <option *ngFor="let pipeline of pipelines" [selected]="getSelectedValue(selectedPipeline, pipeline._id)"
                        value="{{pipeline._id}}">{{pipeline.name}}</option>
            </select>
        </div>
    </div>
</div>