<section class="content">
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title"> Task</h3>
            <div class="pull-right box-tools">
                <div class="btn-group form-group" role="group" aria-label="Basic example">
                    <div class="btn-group">
                        <button type="button" style="margin-right: 10px" class="btn btn-warning btn-xs"
                                (click)="onStatusFilterChange('ACTIVE')"> Active
                        </button>
                        <button type="button" style="margin-right: 10px" class="btn btn-success btn-xs"
                                (click)="onStatusFilterChange('COMPLETED')">Completed
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="database" class="main-content padding-20px-tb plr-15">
            <div class="row">
                <div class='col-lg-4 mb-3'>
                    <div class="form-group">
                        <input [(ngModel)]="searchText" (keyup)="onSearch()" type="text" class="form-control"
                               placeholder="Search Applicant">
                    </div>
                </div>
                <div class="col-lg-2 mb-3">
                    <select (change)="onSourceFilterChange($event.target.value)"
                            class="form-control ng-pristine ng-valid ng-touched">
                        <option [value]="">Filter By</option>
                        <option *ngFor="let filters of filterType"
                                [selected]="filters.value===filter.filter"
                                [value]="filters.value">{{filters.displayName}}</option>
                    </select>
                </div>
            </div>
            <ng-container *ngIf="gettingTask">
                <i *ngIf="gettingTask" class="fa fa-spinner fa-spin"></i>
            </ng-container>
            <ng-container *ngIf="!gettingTask">
                <data-table [showViewField]='false' pageSize='10' sortField='name' sortOrder='1'
                            [showSearchFeild]='false'
                            [totalItems]='totalRecords' (onFilterChange)="onFilterChange($event)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table bg-dark-black border-light  no-footer data-table"
                                       id="DataTables_Table_0"
                                       role="grid">
                                    <thead>
                                    <tr class="font-weight-bold">
                                        <th></th>
                                        <th width="20%">
                                            <div class="sorting">Applicant</div>
                                        </th>
                                        <th>Created By</th>
                                        <th>Assigned</th>
                                        <th>Status</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngIf="TaskList.length<=0">
                                        <p class="text-muted">No Task available to show</p>
                                    </ng-container>
                                    <ng-container *ngIf="TaskList.length>0">
                                        <tr *ngFor="let task of TaskList; let i = index;"
                                            class="font-weight-bold">
                                            <td>
                                                <input class="custom-checkbox mx-4-auto"
                                                       (change)="updateStatus(task._id, task.status, i)"
                                                       type="checkbox"
                                                       [checked]="task.status==='COMPLETED'"/>
                                            </td>
                                            <td>
                                                <app-user-card [routerLink]="['/applicants',task.applicant?._id]"
                                                               [applicants]="task.applicant"></app-user-card>
                                            </td>
                                            <td>
                                                <div>{{task?.createdBy.name || "" }}
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{task?.assignee.name || "" }}
                                                </div>
                                            </td>
                                            <td>
                                                <span [ngClass]="[getSourceColor(task?.status), 'badge badge-secondary bg-red mt-2']">{{task?.status}}</span>
                                                <ng-container *ngIf="task?.createdOn">
                                                    <p class="text-11 font-weight-500 mb-0 line-height-20">Created:
                                                        {{task?.createdOn | date:'MMM d, y'}}</p>
                                                </ng-container>
                                                <ng-container *ngIf="task?.targetDate">
                                                    <p class="text-11 font-weight-500 mb-0 line-height-20">
                                                        Target Date:
                                                        {{task?.targetDate | date:'MMM d, y'}}</p>
                                                </ng-container>
                                                <p *ngIf="task.modifiedBy"
                                                   class="font-weight-500 text-11 mb-0 line-height-20">
                                                    By: {{task.modifiedBy.name || task.modifiedBy.email}}</p>
                                            </td>
                                            <td *ngIf="task.description != null">
                                                <div class="skills">
                                                    <span>
                                                        {{task.description}}<span></span>
                                                    </span>
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </data-table>
            </ng-container>
        </div>
    </div>
</section>

