<section class="content content-wrapper">
    <div class="bg-white main-content border-radius-3">
        <div class="sec-header bg-white pd-5">
            <h2>
                <i class="fa fa-inbox"></i> {{jobTitle}}</h2>
        </div>

        <div class="main-content padding-20px-tb plr-15">
            <form [formGroup]="skillDetailForm" novalidate (ngSubmit)="details(skillDetailForm.value)">
                    <!-- *ngFor="let item of skillDetailForm.get('items').controls; let i = index;" -->
                <div formArrayName="items" *ngFor="let item of formData.controls; let i = index;">
                    <div class="form-group col-md-6" [formGroupName]="i">
                        <input class="form-control" formControlName="name" placeholder="Skills Name" disabled>
                        <input class="form-control" formControlName="score" placeholder="Score">
                        <small class="text-danger" *ngIf="item.controls['score'].hasError('required') && item.controls['score'].touched">
                            Please enter Score
                        </small>
                        <small class="text-danger" *ngIf="item.controls['score'].hasError('scoreValid')">
                            Please number between 1 to 10
                        </small>
                    </div>
                </div>

                <button type="submit" class="btn btn-submit mt-10 mb-10 border-radius-30">Submit
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </form>

        </div>

    </div>
</section>