<section class="content content-wrapper">
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title"> Referred Applicant</h3>
            <div class="pull-right box-tools">
                <div class="btn-group form-group margin-right-10px" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-sm mr-3" (click)="goToCreate()">
                        <i class="fa fa-plus"></i> Create
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="uploadResume()">
                        <i class="fa fa-upload"></i> Upload
                    </button>
                </div>
            </div>
        </div>
        <div class="no-print" *ngIf="jobId && job">
            <div class="callout callout-warning">
                <h4><i class="fa fa-briefcase"></i> {{job.title}}</h4>
                Add profiles to this job
            </div>
        </div>


        <div id="database" class="main-content padding-20px-tb plr-15">
            <div class="row">

                <div class='col-lg-4 mb-3'>
                    <div class="form-group">
                        <input [(ngModel)]="searchText" (keyup)="onSearch()" type="text" class="form-control"
                               placeholder="Search Applicant">
                    </div>
                </div>
            </div>
            <ng-container *ngIf="gettingApplicant">
                <i *ngIf="gettingApplicant" class="fa fa-spinner fa-spin"></i>
            </ng-container>
            <ng-container *ngIf="!gettingApplicant">
                <data-table [showViewField]='false' pageSize='10' sortField='name' sortOrder='1'
                            [showSearchFeild]='false'
                            [totalItems]='totalRecords' (onFilterChange)="onFilterChange($event)">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table bg-dark-black border-light  no-footer data-table"
                                       id="DataTables_Table_0"
                                       role="grid">
                                    <thead>
                                    <tr class="font-weight-bold">
                                        <th *ngIf="jobId && job" class="col-sm-1">
                                            <div class="sorting">Add</div>
                                        </th>
                                        <th>
                                            <div class="sorting">Candidate
                                                <!--<i class="fa fa-sort ml-2" (click)="onSort('email')" aria-hidden="true"></i>--></div>
                                        </th>
                                        <th>Experience</th>
                                        <th>Salary</th>
                                        <th>Notice Period</th>
                                        <th>Source</th>
                                        <th>Skills</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngIf="ApplicantList.length<=0">
                                        <p class="text-muted">No Applicant available to show</p>
                                    </ng-container>
                                    <ng-container *ngIf="ApplicantList.length>0">
                                        <tr *ngFor="let applicant of ApplicantList; let i = index;"
                                            class="font-weight-bold">
                                            <td *ngIf="jobId && job">
                                                <input type="checkbox" (change)="addApplicantToJob(applicant._id)"/>
                                            </td>
                                            <td>
                                                <app-user-card (onSelect)="openCandidate($event)"
                                                               [applicants]="applicant"></app-user-card>
                                            </td>
                                            <td>
                                                <div *ngIf="applicant?.totalExperience">{{applicant?.totalExperience || "" }}
                                                    Year(s)
                                                </div>
                                            </td>
                                            <td>
                                                <div class="info-box-wrapper line-height-22">
                                                    <p *ngIf="applicant?.currentCtc"
                                                       class="font-weight-500 mb-0 line-height-20">{{applicant?.currentCtc || ""}}
                                                        LPA</p>
                                                    <p *ngIf="applicant?.expectedCtc"
                                                       class="font-weight-500 text-11 line-height-20">
                                                        Expected: {{applicant?.expectedCtc || ""}} LPA</p>
                                                </div>
                                            </td>
                                            <td>
                                                <div *ngIf="applicant?.noticePeriod">{{applicant?.noticePeriod || "" }}</div>
                                            </td>
                                            <td>
                                                <span [ngClass]="[getSourceColor(applicant?.source), 'badge badge-secondary bg-red mt-2']">{{applicant?.source}}</span>
                                                <ng-container *ngIf="applicant?.created_at">
                                                    <p class="text-11 font-weight-500 mb-0 line-height-20">Created:
                                                        {{applicant?.created_at | date:'MMM d, y'}}</p>
                                                </ng-container>
                                                <ng-container *ngIf="applicant?.modified_at">
                                                    <p class="text-11 font-weight-500 mb-0 line-height-20">Last
                                                        Modified:
                                                        {{applicant?.modified_at | date:'MMM d, y'}}</p>
                                                </ng-container>
                                            </td>
                                            <td *ngIf="applicant.skills != null">
                                                <div class="skills">
                                                    <span *ngFor="let skill of applicant.skills; let i = index;">
                                                        {{skill.name}}<span
                                                            *ngIf="i < applicant.skills.length - 1">, </span>
                                                    </span>
                                                </div>
                                            </td>

                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </data-table>
            </ng-container>
        </div>
    </div>
</section>
<app-referred-applicant-info id="applicant-info" [applicant]="applicant"></app-referred-applicant-info>
