<div>
    <strong class="display-block mb-10">Jobs Applied</strong>
    <ul *ngIf="applyJobs.length" class="padding-six bg-box list-inline">
        <li *ngFor="let job of applyJobs" class="margin-nine-top">
            <!-- <span class="text">Title: </span> -->
            <div class="d-flex justify-content-between">
                <strong class="">{{job.title || 'N/A'}}</strong>
                <span [ngClass]="[color[getStatus(job)], 'badge  mt-2']">{{getStatus(job)}}</span>
            </div>
            <ng-container *ngIf="job.locations && job.locations.length">
                <span *ngFor="let location of job.locations"
                      class=" display-inline-block text-muted d-block font-75">{{location.city}}</span>
            </ng-container>

            <span class="text-muted d-block font-75 mb-3">{{job.minExperience}} Years - {{job.maxExperience}}
                Years</span>

            <ng-container *ngIf="job.recruitmentManager">
                <strong class="d-block mb-2">Recruitment Manager</strong>
                <div class="d-flex align-items-center mb-3">
                    <div class="profile_image-wrapper activity-img mr-2 ng-star-inserted">

                        <ng-container *ngIf="!job.recruitmentManager.picture">
                            <img src="/admin/assets/img/short_profile.png"
                                 class="profile-user-img img-responsive img-circle ng-star-inserted"
                                 alt="User Image">
                        </ng-container>
                        <ng-container *ngIf="job.recruitmentManager.picture">
                            <img [src]="getImageData(job.recruitmentManager._id)" alt="User profile picture"
                                 class="profile-user-img img-responsive img-circle ng-star-inserted">
                        </ng-container>
                    </div>
                    <div>

                        <p class="profile-username mt-0 text-12 mb-0 ng-star-inserted">
                            <strong> {{job.recruitmentManager.name || job.recruitmentManager.email }}  </strong>
                        </p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="job.pipeline && job.pipeline.name ">
                <!-- <span class="text">Stage: </span> -->
                <strong class="d-block">Status</strong>
                <span class="badge bg-yellow-light  mt-2">
              {{job.pipeline.name}}
            </span>
            </ng-container>

        </li>
    </ul>

</div>