<div class="modal-header">
  <button id="closeButton" type="button" class="close" (click)="bsModelRef.hide()" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Applicant</h4>
</div>
<div class="modal-body content-move">
  <form novalidate [formGroup]="applicantForm" (ngSubmit)="createApplicant(applicantForm.value)">

    <div class="row">
      <div class="col-sm-4">
        <label for="resume">Resume</label>
        <input type="file" class="form-control" formControlName="resume" #file (change)="onFileChange(file.files)" multiple="" accept=".doc, .docx, .pdf">
        <small class="text-danger" *ngIf="errInvalidFile">
          Please upload only pdf/doc/docx file
        </small>
      </div>
      <div class="col-sm-4">
        <label for="dob">Date of Birth</label>
        <input type="text" class="form-control" placeholder="Select Your Date of Birth" formControlName="dob" bsDatepicker/>
      </div>
      <div class="form-group col-md-4">
        <input type="hidden"  placeholder="Source"  class="form-control" formControlName="source">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="fname" class="required">First Name</label>
        <input type="text" placeholder="First name" class="form-control" formControlName="firstName" required>
        <small class="text-danger"
          *ngIf="applicantForm.controls['firstName'].hasError('required') && applicantForm.controls['firstName'].touched">
          Please enter First Name
        </small>
        <small class="text-danger" *ngIf="applicantForm.controls['firstName'].hasError('nameValid')">
          Please enter correct first name
        </small>
      </div>
      <div class="form-group col-md-4">
        <label for="fname" class="not-required">Middle Name</label>
        <input type="text" placeholder="Middle name" class="form-control" formControlName="middleName">
        <small class="text-danger" *ngIf="applicantForm.controls['middleName'].hasError('nameValid')">
          Please enter correct middle name
        </small>
      </div>
      <div class="form-group col-md-4">
        <label for="lname" class="not-required">Last Name</label>
        <input type="text" placeholder="Last name" class="form-control" formControlName="lastName">
        <small class="text-danger" *ngIf="applicantForm.controls['lastName'].hasError('nameValid')">
          Please enter correct last name
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="alterEgo" class="required">Email Address</label>
        <input type="text" placeholder="Email address" class="form-control" formControlName="email" required>
        <small class="text-danger"
          *ngIf="applicantForm.controls['email'].hasError('required') && applicantForm.controls['email'].touched">
          Please enter Email
        </small>
        <small class="text-danger" *ngIf="applicantForm.controls['email'].hasError('emailValid')">
          Please enter correct email
        </small>
      </div>
      <div class="form-group col-sm-4">
        <label for="contact" class="not-required">Contact No.</label>
        <input type="text" placeholder="900000000" class="form-control" formControlName="phone">
        <small class="text-danger"
          *ngIf="applicantForm.controls['phone'].hasError('required') && applicantForm.controls['phone'].touched">
          Please enter Contact No.
        </small>
        <small class="text-danger" *ngIf="applicantForm.controls['phone'].hasError('mobileValid')">
          Please enter correct contact no.
        </small>
      </div>
      <div class="form-group col-sm-4">
        <label for="contact" class="not-required">Referred By</label>
        <select formControlName="referredBy" class="form-control">
          <option value="" disabled selected>Select Referrer</option>
          <option *ngFor="let referrer of referrers;" value="{{referrer._id}}"> {{referrer.firstName}} {{referrer.lastName}}{{'<' + referrer.email + '>'}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-4">
        <label for="contact">Availability</label>
        <select class="form-control" formControlName="availability" (change)="validateAvailability($event)">
          <option value="" selected disabled>Select time</option>
          <option value="0">Immediate</option>
          <option value="1">One month</option>
          <option value="2">Two months</option>
          <option value="3">More than two months</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="alterEgo">Notice Period (Months)</label>
        <input type="text" placeholder="Notice period" class="form-control" formControlName="noticePeriod">
      </div>

      <div class="form-group col-sm-4">
        <label for="contact">Notice Period (Negotiable)</label>
        <input type="text" placeholder="Yes/No" class="form-control" formControlName="noticePeriodNegotiable">
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-4 taggingBox">
        <label for="contact">Experience (Year)</label>
        <input type="text" placeholder="Experience" class="form-control" formControlName="experience">
        <small class="text-danger"
          *ngIf="applicantForm.controls['experience'].hasError('required') && applicantForm.controls['experience'].touched">
          Please enter Experience.
        </small>
        <small class="text-danger"
          *ngIf="applicantForm.controls['experience'].hasError('experienceValid') && applicantForm.controls['experience'].touched">
          Please enter correct Experience.
        </small>
      </div>
      <div class="form-group col-md-4 taggingBox">
        <label for="contact">Current CTC (P.A.)</label>
        <input type="text" placeholder="Current CTC" class="form-control" formControlName="currentCtc">
        <small class="text-danger"
          *ngIf="applicantForm.controls['currentCtc'].hasError('required') && applicantForm.controls['currentCtc'].touched">
          Please enter Current CTC.
        </small>
        <small class="text-danger"
          *ngIf="applicantForm.controls['currentCtc'].hasError('ctcValid') && applicantForm.controls['currentCtc'].touched">
          Please enter correct Current CTC.
        </small>
      </div>

      <div class="form-group col-md-4 taggingBox">
        <label for="contact">Expected CTC (P.A.)</label>
        <input type="text" placeholder="Expected CTC" class="form-control" formControlName="expectedCtc">
        <small class="text-danger"
          *ngIf="applicantForm.controls['expectedCtc'].hasError('required') && applicantForm.controls['expectedCtc'].touched">
          Please enter Expected CTC.
        </small>
        <small class="text-danger"
          *ngIf="applicantForm.controls['expectedCtc'].hasError('ctcValid') && applicantForm.controls['expectedCtc'].touched">
          Please enter correct Expected CTC.
        </small>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12 taggingBox">
        <label for="name">Skills</label>
        <tag-input formControlName = "skills" [onlyFromAutocomplete]="false">
          <tag-input-dropdown [identifyBy]="'_id'" [displayBy]="'name'" [autocompleteObservable]="asyncSkills">
            <ng-template let-item="item" let-index="index">
              {{ item.name }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 taggingBox">
        <label for="name">Current Location</label>
        <tag-input formControlName = "currentLocation" [onlyFromAutocomplete]="true" [maxItems]='1'>
          <tag-input-dropdown [identifyBy]="'_id'" [displayBy]="'city'" [autocompleteObservable]="asyncLocations">
            <ng-template let-item="item" let-index="index">
              {{ item.city + ', ' + item.state + ', ' + item.country }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>

      <div class="form-group col-md-6 taggingBox">
        <label for="name">Preferred Locations</label>
        <tag-input formControlName = "preferredLocation" [onlyFromAutocomplete]="true">
          <tag-input-dropdown [identifyBy]="'_id'" [displayBy]="'city'" [autocompleteObservable]="asyncLocations">
            <ng-template let-item="item" let-index="index">
              {{ item.city + ', ' + item.state + ', ' + item.country }}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <button [disabled]="isSubmitDisabled" type="submit" class="btn btn-primary mt-10 mb-10 border-radius-30">Submit
          <span *ngIf="!isDetailsUploading">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <span *ngIf="isDetailsUploading">
            <i class="fa fa-spinner fa-spin"></i>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
