<section class="content">
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title"> Interviews</h3>
            <div class="pull-right box-tools">
                <div class="btn-group form-group" role="group" aria-label="Basic example">
                    <div class="btn-group">
                        <button type="button" style="margin-right: 10px" class="btn btn-warning btn-xs"
                                (click)="changeType('PENDING')"> Pending
                        </button>
                        <button type="button" style="margin-right: 10px" class="btn btn-success btn-xs"
                                (click)="changeType('COMPLETED')">Completed
                        </button>
                        <button type="button" class="btn btn-default btn-xs" (click)="changeType('CANCEL')">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content padding-20px-tb plr-15">
            <data-table pageSize='10' sortField='name' sortOrder='1' [showSearchFeild]='false'
                        [totalItems]='totalRecords' (onFilterChange)="onFilterChange($event)">
                <div class="table-responsive">
                    <table class="table bg-dark-black border-light  no-footer data-table" id="DataTables_Table_0"
                           role="grid">
                        <thead>
                        <tr class="font-weight-bold">
                            <th class="col-sm-3">Applicant</th>
                            <th class="col-sm-2">Interviewer</th>
                            <th class="col-sm-2">Job</th>
                            <th class="col-sm-2">Status</th>
                            <th class="col-sm-3">Schedule</th>
                            <ng-container *ngIf="['admin', 'hr'].indexOf(role)>=0">
                                <ng-container *ngIf="filter.type==='PENDING'">
                                    <th></th>
                                </ng-container>
                            </ng-container>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let interview of interviews; let i = index;">
                            <td>
                                <a class="c-pointer font-weight-600 text-meteorite mb-0"
                                   [routerLink]="['/interview',interview._id]">
                                    {{getFullName(interview.jobApplicant.firstName, interview.jobApplicant.middleName, interview.jobApplicant.lastName)}}
                                </a>
                                <p *ngIf="interview?.jobApplicant?.email"
                                   class="text-11 font-weight-500 mb-0 line-height-20">
                                    Email: {{interview.jobApplicant.email}}</p>
                                <p *ngIf="interview?.jobApplicant?.phone"
                                   class="text-11 font-weight-500 mb-2 line-height-20">
                                    Phone: {{interview.jobApplicant.phone}}</p>
                            </td>
                            <td>
                                {{interview.interviewer.name}}
                            </td>
                            <td>
                                <span class="jobs-links">{{interview.jobId.title}}</span>
                            </td>
                            <td>
                                <p *ngIf="interview.round"
                                   class="font-weight-500 mb-0 line-height-20">{{interview.round}} Round</p>
                                <span class="custom-select badge mt-2"
                                      style="display: inherit;">{{interview.result}}</span>
                                <ng-container *ngIf="filter.type==='CANCEL'">
                                    <p *ngIf="interview.modified_by"
                                       class="font-weight-500 text-11 mb-0 line-height-20">
                                        By: {{interview.modified_by.name || interview.modified_by.email}}</p>
                                    <p *ngIf="interview.modified_at"
                                       class="font-weight-500 text-11 mb-0 line-height-20">{{interview.modified_at | amDateFormat:'DD/MM/YYYY, hh:mmA'}}</p>
                                </ng-container>
                            </td>
                            <td>
                                {{interview.start | amDateFormat:'DD/MM/YYYY, hh:mmA'}}
                                <p *ngIf="interview.channel" class="font-weight-500 text-11 mb-0 line-height-20">
                                    Channel: {{interview.channel}}</p>
                                <ng-container *ngIf="filter.type!=='CANCEL'">
                                    <ng-container *ngIf="interview.channel==='GoLiveMeet'">
                                        <p class="font-weight-500 text-11 mb-0 line-height-20">
                                            <button class="btn btn-primary btn-xs" (click)="startInterview(interview)">
                                                <i
                                                        class="fa fa-play"></i> Start Interview
                                            </button>
                                        </p>

                                    </ng-container>
                                    <ng-container *ngIf="interview.channel!=='GoLiveMeet'">
                                        <p *ngIf="interview.channelLink"
                                           class="font-weight-500 text-11 mb-0 line-height-20">
                                            <button class="btn btn-primary btn-xs" (click)="startInterview(interview)">
                                                <i class="fa fa-play"></i> Start Interview
                                            </button>
                                        </p>
                                    </ng-container>
                                </ng-container>

                            </td>
                            <ng-container *ngIf="['admin', 'hr'].indexOf(role)>=0">
                                <ng-container *ngIf="interview.result==='PENDING'">
                                    <td>
                                        <button class="icons icon-cancel" data-toggle="modal"
                                                title="Cancel Interview"
                                                (click)="openDeleteModel(interview._id)">
                                            <i class="fa fa-close"></i>
                                        </button>


                                    </td>

                                </ng-container>
                            </ng-container>
                        </tr>
                        <tr *ngIf="totalRecords==0">
                            <td colspan="6" align="center">
                                <b>No interviews found</b>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </data-table>
        </div>
    </div>
</section>

