<section class="content content-wrapper">

  <div class="bg-white main-content border-radius-3">
   
    <div class="col-sm-12"> 
      <h3 class="mb-15"> <i class="ti-bag"></i> {{job.title}}</h3>
      <ul class="normal-job-dis">
        <li><i class="ti-location-pin"></i> Jaipur Rajsthan, 32006</li>
        <li><i class="ti-bag"></i> {{job.experiance}}  Year experiance</li>
        <li><i class="ti-timer"></i>  {{job.employment_type}}</li>
      </ul>

      <p class="font-weight-400 mb-0 mt-15 text-14"> <i class="fa fa-inr" aria-hidden="true"></i> Salary <span class="font-weight-500">{{job.ctc}} CTC</span> or candidate based : Posted <span class="font-weight-500">{{job.modified_at | amTimeAgo}}</span> </p>

      <div class="jobs-button mt-20 mb-20" *ngIf="id">
        <button class="red-btn" (click)="goRegistration(job.guid)"><i class="ti-bag"></i>  Apply for Job</button>
        <!-- <button class="red-outline-btn"> <i class="ti-control-forward"></i> Save job </button> -->
      </div>
      <p class="font-weight-500 text-12">{{job.description}}</p>
    </div>

    <div class="col-sm-12">
      <h3>Job Skills</h3>

      <ul class="normal-list" *ngFor="let skill of job.skills">
        <li *ngIf="skill.job_post_skills.is_deleted == false">+ {{skill.name}}</li>
      </ul>
    </div>



    <div class="col-sm-12">
        <h3 class="mb-20">Job Description</h3>
    </div>

    <div class="main-content padding-20px-tb plr-15">

      <div class="">
        <table class="table bg-dark-black mt-30 border-light">
          <tr>
            <td class="font-weight-bold">Job Title</td>
            <td>{{job.title}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Company Name</td>
            <td *ngIf="job?.department">{{job?.department.company.company_name}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Experiance Required</td>
            <td>{{job.experiance}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Anual CTC Offered</td>
            <td>{{job.ctc}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Job Description</td>
            <td>{{job.description}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Job Responsibility</td>
            <td>{{job.responsibilities}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>