<div class="box box-info">
    <div class="main-content padding-20px-tb plr-15" id="jobs-custom" style="overflow: scroll;">
        <div class="pipeline plr">
            <div droppable *ngFor="let pipeline of pipeLines; let i = index;"
                 (onDrop)="onColumnDrop($event, pipeline, i)">
                <ul class="pipeline box-cardWrapper" draggable (onDrag)="onColumnDrag($event, pipeline, i)"
                    [dragData]="pipeline">
                    <li class="pipeline-box bg-box">
                        <div class="pipeline-background pipeline-box-heading">
                            <div class="plr">
                                {{pipeline.name}}
                            </div>
                            <div class="scroll-pipeline mt-10" *ngIf="pipeLinesApplicant.hasOwnProperty(pipeline._id)">
                                <ng-container *ngFor="let applicant of pipeLinesApplicant[pipeline._id]; let i=index;">
                                    <div droppable (onDrop)="onItemDrop($event, pipeline)">
                                        <div class="plr">
                                            <div draggable [dragData]="applicant"
                                                 class="list-group-item border-radius-0 mb-15 bl-red overflow-hidden">
                                                <applicant-card
                                                        [applicant]="applicant"
                                                        [pipelines]="pipeLines"
                                                        (onSelect)="showApplicantDetails($event)"
                                                        (changeStatus)="changeApplicantStatus($event)"
                                                        (removeApplicant)="updateJobApplicantList($event, i)">
                                                </applicant-card>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="jobs-menu dropdown">
                            <i class="dropdown-toggle ti-more" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu jobOption">
                                <li class="dropdown-item" (click)="setpipelineId(pipeline, i)">
                                    <a data-toggle="modal" data-target="#pipeModal" class="pointer">
                                        <i class="fa fa-pencil"></i>Edit Title
                                    </a>
                                </li>
                                <li class="dropdown-item" (click)="deletePipeline(template)">
                                    <a><i class="fa fa-trash"></i>Delete Pipeline</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ng-template #template>
                    <div class="modal-body text-center">
                        <p class="text"><b>Do you want to delete </b></p>
                        <button type="button" class="btn btn-primary" (click)="confirm(pipeline._id, i)">
                            Yes
                        </button>
                        <button type="button" class="btn btn-default" (click)="decline()">No</button>
                    </div>
                </ng-template>
            </div>
            <div class="pipeline plr">
                <div class="pipeline-box">
                    <div class="add-column plr">
                        <div class="border-radius-0 pointer">
                            <a data-toggle="modal" data-target="#pipeModal" type="button"
                               (click)="setpipelineId(null)">
                                Add New Pipeline <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<applicant-info id="applicant-info-pipeline" [applicant]="selectedApplicant" (onUpdate)="onUpdate($event)"
                (onReject)="onCandidateReject($event)">
</applicant-info>
<div class="modal fade" id="pipeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{pipelineDialogTitle}} Pipeline</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="pipelineDetails(form.value)">
                    <div class="form-group">
                        <input type="text" placeholder="name" class="form-control" formControlName="name" required
                               autofocus>
                        <small class="text-danger"
                               *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
                            Please enter Pipeline Name
                        </small>
                        <small class="text-danger" *ngIf="form.controls['name'].hasError('jobTitleValid')">
                            Please enter correct Pipeline name
                        </small>
                        <small class="text-danger" *ngIf="errorMessage != null">
                            {{errorMessage}}
                        </small>
                    </div>
                    <button class="btn btn-primary" type="submit">{{pipelineDialogTitle}} Pipeline</button>
                </form>
            </div>
        </div>
    </div>
</div>
