<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Departments</h3>
    <!-- /.box-tools -->
    <div class="pull-right box-tools">
      <button data-target="#department-modal" data-toggle="modal" type="button" class="btn btn-primary btn-sm">
        <i class="fa fa-plus"></i> Add</button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <div class="container">
      <div *ngIf="departmentList" class="row">
        <table class="table">
          <thead>
            <tr class="font-weight-bold">
              <th>Name </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departmentList;">
              <td>{{department.name}}</td>
              <td>
                <a data-toggle="modal" data-target="#department-modal" (click)="editDepartment(department, template)" class="pointer">Edit</a> |
                <a (click)="openDeleteModal(department, template)" class="pointer">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /. box -->
<div class="modal fade" id="department-modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button id="closePopup" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Deparement</h4>
      </div>
      <div class="modal-body">
        <app-departmentcreate (refreshList)="refreshList($event)" [data]="departmentDetails"></app-departmentcreate>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p class="text"><b>Do you want to delete {{deleteName.toUpperCase()}} department?</b></p>
    <button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-default" (click)="decline()">No</button>
  </div>
</ng-template>