<div class="d-flex justify-content-between align-items-center mb-3">
    <strong>Task</strong>

    <button (click)="addTask()"
            class="btn btn-primary btn-xs ng-scope">Create Task
    </button>
</div>
<ng-container *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin"></i>
</ng-container>
<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="taskData.length >0">
        <div *ngFor="let data of taskData; let i=index;">
            <app-task-model  [index]="i"  [taskData]="data"></app-task-model>
        </div>
    </ng-container>
    <ng-container *ngIf="taskData.length <=0">
        There are no tasks
    </ng-container>
</ng-container>
