<!--side panel card-->
<div class="applicant-info">
    <div class="scroll-content">
        <div class="row ">
            <div class="col-sm-12">
                <!-- Profile Image -->
                <div class="box">
                    <ul class="sidebar-panel-icon">
                        <li class="closed-panel" id="closed-panel"><a><i class="fa fa-close"></i></a></li>
                        <li><a data-toggle="tab" id="home" title="Details" href="#basic"><i class="fa fa-home"></i></a>
                        </li>
                        <li><a data-toggle="tab" title="Jobs" href="#job-applied"> <i class="ti-bag"></i></a></li>
                        <li><a data-toggle="tab" title="Interview" href="#interview"><i class="fa fa-calendar"></i></a>
                        </li>
                        <li><a data-toggle="tab" title="Comments" href="#comments" (click)="getComments()"><i
                                class="fa fa-comments"></i></a></li>
                        <!-- <li><a data-toggle="tab" title="Rejection" href="#rejectApplicant"><i class="fa fa-trash"></i></a></li> -->
                        <li><a data-toggle="tab" title="Activity" href="#history"><i
                                class="fa fa-history"></i></a></li>
                    </ul>
                    <ng-container *ngIf="gettingApplicant">
                        <div class="box-body box-profile"><i *ngIf="gettingApplicant" class="fa fa-spinner fa-spin"></i>
                        </div>

                    </ng-container>
                    <ng-container *ngIf="!gettingApplicant">
                        <div class="box-body box-profile">
                            <ng-container *ngIf="applicantData">
                                <app-applicant-profile-card (onUpdate)="onUpdateProfile($event)"
                                                            [applicant]="applicantData"></app-applicant-profile-card>
                            </ng-container>
                            <ul class="tab-content p-0">
                                <div id="basic" class="tab-pane fade">
                                    <ng-container *ngIf="applicantData">
                                        <app-applicant-profile [applicant]="applicantData"
                                                               [jobsSkils]="jobsSkils"></app-applicant-profile>
                                    </ng-container>
                                </div>

                                <div id="comments" class="tab-pane fade in">
                                    <ng-container *ngIf="applicantData">
                                        <app-comment *ngIf="applicant && showComments" [applicant]="applicant"
                                                     [job]="jobId" (commentAdded)="commentAdded()">
                                        </app-comment>
                                    </ng-container>
                                </div>

                                <div id="interview" class="tab-pane fade in">
                                    <ng-container *ngIf="applicantData && this.jobLoad">
                                        <app-applicant-interview (onCancelInterview)="onCancelInterviewData($event)"
                                                                 (onOnInterViewUpdate)="onUpdateInterview($event)"
                                                                 [jobId]="jobId"
                                                                 [applicant]="applicant"></app-applicant-interview>
                                    </ng-container>

                                </div>

                                <div id="job-applied" class="tab-pane fade in">
                                    <ng-container *ngIf="applyJobs.length">
                                        <app-applicant-jobs [applyJobs]="applyJobs"></app-applicant-jobs>
                                    </ng-container>

                                </div>

                                <div id="rejectApplicant" class="tab-pane fade in">

                                </div>

                                <div id="history" class="tab-pane fade in active in ">
                                    <ng-container *ngIf="applicant && applicant._id">
                                        <div class="scroll-content">
                                            <app-applicant-task [applicantId]="applicant._id"></app-applicant-task>
                                        </div>
                                        <div class="scroll-content">
                                            <app-applicant-activity [isAddedActivity]="true" [isActivityUpdate]="isActivityUpdate"
                                                                    [applicantId]="applicant._id">
                                            </app-applicant-activity>
                                        </div>
                                    </ng-container>


                                </div>


                            </ul>

                        </div>
                    </ng-container>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</div>
<ng-template #rating let-i="index" let-v="value">
    <button disabled style="margin-right:5px;" class="btn btn-xs btn-rating btn-{{i < v ? 'warning' : 'default'}}">
        {{i < v ? '&#9733;' : '&#9734;'}}
    </button>
</ng-template>
