<footer class="text-muted mt-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-left text-muted">© Copyright <%= new Date().getFullYear(); %> <%= locals.company && locals.company.name ? locals.company.name : 'Company Name' %> </p>
            </div>
            <div class="col-sm-6">
                <p class="text-right text-muted">Powered by 
                    <a target="_blank" href="https://www.eazyrecruit.in">
                        eazyrecruit.in
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>