<section class="content">
    <div class="box box-info">
        <div class="box-header">
            <i class="fa fa-inbox"></i>
            <h3 class="box-title"> Interviews</h3>
            <div class="pull-right box-tools">
                <div class="btn-group form-group margin-right-10px" role="group" aria-label="Basic example">
                    <div class="btn-group">
                        <button type="button" style="margin-right: 10px" class="btn btn-info"
                                (click)="changeType('PENDING')"> Pending
                        </button>
                        <button type="button" style="margin-right: 10px" class="btn btn-info"
                                (click)="changeType('COMPLETED')">Completed
                        </button>
                        <button type="button" class="btn btn-info" (click)="changeType('CANCEL')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content padding-20px-tb plr-15">
            <data-table pageSize='10' sortField='name' sortOrder='1' [showSearchFeild]='false'
                        [totalItems]='totalRecords' (onFilterChange)="onFilterChange($event)">
                <table class="table bg-dark-black border-light  no-footer" id="DataTables_Table_0" role="grid">
                    <thead>
                    <tr class="font-weight-bold">

                        <ng-container *ngIf="filter.type==='CANCEL'">
                            <th class="col-sm-2">Applicant Name</th>
                            <th class="col-sm-2">Interviewer Name</th>
                            <th class="col-sm-2">Job Title</th>
                            <th class="col-sm-2">Round</th>
                            <th class="col-sm-2">Cancel By</th>
                            <th class="col-sm-2">Cancel Time</th>
                            <th class="col-sm-2">Result</th>
                        </ng-container>
                        <ng-container *ngIf="filter.type!=='CANCEL'">
                            <th class="col-sm-2">Applicant Name</th>
                            <th class="col-sm-2">Interviewer Name</th>
                            <th class="col-sm-2">Job Title</th>
                            <th class="col-sm-2">Start Time</th>
                            <th class="col-sm-2">Round</th>
                            <th class="col-sm-3">Channel</th>

                            <th class="col-sm-2">Result</th>
                            <th class="col-sm-2"></th>
                        </ng-container>


                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let interview of interviews; let i = index;">

                        <ng-container *ngIf="filter.type==='CANCEL'">
                            <td>
                                <a class="c-pointer" (click)="openInterviewPage(interview._id)">
                                    {{getFullName(interview.jobApplicant.firstName, interview.jobApplicant.middleName, interview.jobApplicant.lastName)}}
                                </a>
                            </td>
                            <td>
                                {{interview.interviewer.name}}
                            </td>
                            <td>
                                {{interview.jobId.title}}
                            </td>
                            <td>
                                {{interview.round}}
                            </td>
                            <td>
                                <ng-container *ngIf="interview.modified_by">
                                    {{interview.modified_by.name || interview.modified_by.email}}
                                </ng-container>
                            </td>
                            <td>
                                <ng-container *ngIf="interview.modified_at">
                                    {{interview.modified_at | amDateFormat:'DD/MM/YYYY, hh:mmA'}}
                                </ng-container>
                            </td>
                            <td>
                                {{interview.result}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="filter.type!=='CANCEL'">
                            <td>
                                <a class="c-pointer" (click)="openInterviewPage(interview._id)">
                                    {{getFullName(interview.jobApplicant.firstName, interview.jobApplicant.middleName, interview.jobApplicant.lastName)}}
                                </a>
                            </td>
                            <td>
                                {{interview.interviewer.name}}
                            </td>
                            <td>
                                {{interview.jobId.title}}
                            </td>
                            <td>
                                {{interview.start | amDateFormat:'DD/MM/YYYY, hh:mmA'}}
                            </td>
                            <td>
                                {{interview.round}}
                            </td>
                            <td>
                                {{interview.channel}}
                                <ng-container *ngIf="interview.channelLink">
                                    <a [href]="interview.channelLink" target="_blank">{{interview.channelLink}}</a>
                                </ng-container>
                            </td>
                            <td>
                                {{interview.result}}
                            </td>
                            <ng-container *ngIf="['admin', 'hr'].indexOf(role)>=0">
                                <ng-container *ngIf="interview.result==='PENDING'">
                                    <td>
                                        <button class="icons" data-toggle="modal"
                                                title="Cancel Interview"
                                                (click)="openDeleteModel(interview._id)">
                                            <i class="fa fa-close text-danger"></i>
                                        </button>


                                    </td>

                                </ng-container>
                            </ng-container>
                        </ng-container>


                    </tr>
                    <tr *ngIf="totalRecords==0">
                        <td colspan="6" align="center">
                            <b>No interviews found</b>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </data-table>
        </div>
    </div>
</section>

