<form [formGroup]="commentDetails" novalidate (ngSubmit)="comment(commentDetails.value)">
  <div class="form-group">
    <div class="comment" *ngFor="let comment of commentList">
      <div class="row">
        <div class="col-md-10">{{comment.comment}}</div>
        <div class="col-md-1" (click)="populateForm(comment)"><i class="fa fa-pencil"></i></div>
      </div>
      <div class="row">
        <div class="col-md-6 coment-info-text" *ngIf="comment.user">{{comment.user.user_detail.first_name}} {{comment.user.user_detail.last_name}}</div>
        <div class="col-md-6 align-text-right coment-info-text">{{comment.modified_at | date}}</div>
        <!-- <div class="col-md-6 align-text-right coment-info-text">{{comment.modified_at | amTimeAgo}}</div> -->
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="form-group">
      <small class="text-danger required" *ngIf="commentDetails.controls['comment'].hasError('required') && commentDetails.controls['comment'].touched">
        Please enter comment
      </small>
      <textarea rows="6" type="text" placeholder="Please enter Comment Here." id="txtDescription" class="form-control" formControlName="comment"></textarea>
    </div>
    <button type="submit" [disabled]="isSubmitting" class="btn btn-success form-control">
      Comment <i *ngIf="isSubmitting" class="fa fa-spinner fa-spin"></i>
    </button>
  </div>
</form>