<section class="content mt-60">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-solid mb-0 padding-one">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <h1 class="mt-0 text-navy">{{applicant.fullName(applicant?.firstName, applicant?.middleName, applicant?.lastName)}}</h1>
            </div>
            <div class="col-md-6">
              <i class="fa fa-pencil editApplcant" (click)="updateApplicant()"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <ul class="rating">
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star-half-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info mt-30">
        <div class="main-content padding-20px-tb plr-15">
          <div>
            <h4 class="text-dark-blue">Personal Information</h4>
            <div>
              <table class="table bg-dark-black mt-30 border-light">
                <tr>
                  <td class="font-weight-600"> First Name :</td>
                  <td> {{applicant?.firstName}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Middle Name :</td>
                  <td> {{applicant?.middleName}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Last Name :</td>
                  <td> {{applicant?.lastName}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Mobile Number :</td>
                  <td><span *ngFor="let phone of applicant.phones">{{phone }}</span></td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Email :</td>
                  <td> {{applicant?.email}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Availability :</td>
                  <td>
                    {{availability[applicant?.availability]}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Current Location :</td>
                  <td>
                    <span *ngIf="applicant.location.state">{{applicant.location.city}},&nbsp;{{applicant.location.state}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Description :</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Designation :</td>
                  <td> {{applicant?.designation}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600">DOB :</td>
                  <td> {{applicant?.dob | date}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600">
                    Preferred Location :
                  </td>
                  <td>
                    <span *ngFor="let location of applicant.preferredLocations;">
                      <span  class="display-inline-block {{defaultColor}}"  *ngIf="location.state">{{location.city}},&nbsp;{{location.state}}</span>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div *ngIf="applicant">
            <h4 class="text-dark-blue">Contract Information</h4>
            <table class="table bg-dark-black mt-30 border-light">
              <tr>
                <td class="font-weight-600"> Notice Period :</td>
                <td>{{applicant?.noticePeriod}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Notice Period Negotiable :</td>
                <td>{{applicant?.noticePeriodNegotiable}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Refered By :</td>
                <td>
                  <div class="row">
                    <div class="col-md-6">Name: {{applicant.fullName(applicant?.referredBy?.firstName, null, applicant?.referredBy?.lastName)}}</div>
                    <div class="col-md-6">Email: {{applicant?.referredBy?.email}}</div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div *ngIf="applicant">
            <h4 class="text-dark-blue">Address information</h4>
            <table class="table bg-dark-black mt-30 border-light" *ngFor="let addressInfo of addressesInfo">
              <tr>
                <td class="font-weight-600"> City :</td>
                <td>{{addressInfo.city ? addressInfo.city : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> State :</td>
                <td>{{addressInfo.state ? addressInfo.state : 'Not Available'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div>
            <h4 class="text-dark-blue">Experiences information</h4>
            <table class="table bg-dark-black mt-30 border-light">
              <tr>
                <td class="font-weight-600"> Total Experience :</td>
                <td>{{applicant?.totalExperience}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Current CTC :</td>
                <td>{{applicant?.currentCtc}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Expected CTC :</td>
                <td>{{applicant?.expectedCtc}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div>
            <h4 class="text-dark-blue">Skills</h4>
            <table class="table bg-dark-black mt-30 border-light" *ngIf="applicant.skills.length > 0">
              <tr>
                <td>
                  <span class="pads-small" *ngFor="let skill of applicant.skills">
                    {{skill.name}}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <h4>Resume</h4>
          <applicant-resume [(applicant)]="applicant"></applicant-resume>

          <form [formGroup]="resumeForm" novalidate (ngSubmit)="uploadResume()">
              <div class="row">
                <div class="form-group col-sm-12">
                  <!-- <label for="name">Upload Resume &nbsp;</label> -->
                  <div class="upload_wrpper c-pointer">
                    <input type="file" class="resume_upload-input" multiple="" accept=".doc, .docx, .pdf" name="resume"
                      #file (change)="onFileChange(file.files)" formControlName="resume">
                    <div class="upload_center-content text-center">
                      <img class="cloud_img" src="/admin/assets/img/cloud.png" alt="cloude image">
                      <p>Upload your file here</p>
                    </div>
                  </div>
                  <small class="text-danger"
                    *ngIf="resumeForm.controls['resume'].hasError('required') && resumeForm.controls['resume'].touched">
                    Please select file
                  </small>
                  <small class="text-danger" *ngIf="errInvalidFile">
                    Please select only pdf /doc /docx file
                  </small>
                </div>
              </div>
              <button [disabled]="isResumeUploading" type="submit" class="btn btn-success">Upload
                <span *ngIf="!isResumeUploading">
                  <i class="fa fa-arrow-circle-right"></i>
                </span>
                <span *ngIf="isResumeUploading">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
            <h4 class="text-dark-blue">Applied Jobs</h4>
            <hr>
            <div class="row" *ngIf="applicant && applicant.jobs && applicant.jobs.length">
              <div class="col-md-2" *ngFor="let jobApplicant of applicant.jobs">
                <div class="status-box" *ngIf="jobApplicant.job && jobApplicant.job.title">
                  <div>Title: {{jobApplicant.job.title}}</div>
                  <div>{{jobApplicant.job.modified_at | date}}</div>
                </div>
              </div>
              <!-- <div *ngFor="let commentObj of job.applicant_comments">
                <div class="comment-box">
                  <p>{{commentObj.comment}}</p>
                  <div class="row">
                    <div class="col-md-6" align="left">
                        {{commentObj.user.user_detail.first_name}} {{commentObj.user.user_detail.middle_name}} {{commentObj.user.user_detail.last_name}}
                    </div>
                    <div class="col-md-6" align="right">
                        {{commentObj.created_at | amTimeAgo}}
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>