<section class="content mt-60" *ngIf="personalInfo">
  <div class="row">
    <div class="col-sm-12">
      <div class="box box-solid mb-0 padding-one">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6"><h1 class="mt-0 text-navy">{{fullName}}</h1></div>
            <div class="col-md-6">
              <i class="fa fa-pencil editApplcant" data-toggle="modal" data-target="#myModal" (click)="editApplicant(applicant, myModal)"></i>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-12">
              <ul class="rating">
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star"></span></li>
                <li><span class="fa fa-star-half-o"></span></li>
                <li><span class="fa fa-star-o"></span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info mt-30">
        <div class="main-content padding-20px-tb plr-15">
          <div>
            <h4 class="text-dark-blue">Personal Information</h4>
            <div>
              <table class="table bg-dark-black mt-30 border-light">
                <tr>
                  <td class="font-weight-600"> First Name :</td>
                  <td> {{personalInfo.first_name ? personalInfo.first_name : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Middle Name :</td>
                  <td> {{personalInfo.middle_name ? personalInfo.middle_name : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Last Name :</td>
                  <td> {{personalInfo.last_name ? personalInfo.last_name : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Mobile Number :</td>
                  <td>{{personalInfo.mobile_number ? personalInfo.mobile_number : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Email :</td>
                  <td> {{personalInfo.email ? personalInfo.email : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Availability :</td>
                  <td>
                    {{personalInfo.availability_desc ? personalInfo.availability_desc : 'Not Available'}}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Current Location :</td>
                  <td> {{personalInfo.current_location ? personalInfo.current_location : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Description :</td>
                  <td> {{personalInfo.description ? personalInfo.description : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600"> Designation :</td>
                  <td> {{personalInfo.designation ? personalInfo.designation : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600">DOB :</td>
                  <td> {{personalInfo.dob ? personalInfo.dob : 'Not Available'}}</td>
                </tr>
                <tr>
                  <td class="font-weight-600">
                    Preferred Location :
                  </td>
                  <td>
                    {{personalInfo.preferred_location ? personalInfo.preferred_location : 'Not Available'}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div *ngIf="personalInfo">
            <h4 class="text-dark-blue">Contract Information</h4>
            <table class="table bg-dark-black mt-30 border-light">
              <tr>
                <td class="font-weight-600"> Notice Period :</td>
                <td>{{personalInfo.notice_period ? personalInfo.notice_period : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Notice Period Negotiable :</td>
                <td>{{personalInfo.notice_period_negotiable ? personalInfo.notice_period_negotiable : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Refered By :</td>
                <td>{{personalInfo.refered_by ? personalInfo.refered_by : 'Not Available'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div *ngIf="addressesInfo.length > 0">
            <h4 class="text-dark-blue">Address information</h4>
            <table class="table bg-dark-black mt-30 border-light" *ngFor="let addressInfo of addressesInfo">
              <tr>
                <td class="font-weight-600"> City :</td>
                <td>{{addressInfo.city ? addressInfo.city : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> State :</td>
                <td>{{addressInfo.state ? addressInfo.state : 'Not Available'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div *ngIf="experiencesInfo.length >0">
            <h4 class="text-dark-blue">Experiences information</h4>
            <table class="table bg-dark-black mt-30 border-light" *ngFor="let experienceInfo of experiencesInfo">
              <tr>
                <td class="font-weight-600"> Designation :</td>
                <td>{{experienceInfo.designation ? experienceInfo.designation : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Description :</td>
                <td>{{experienceInfo.description ? experienceInfo.description : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Total Experience :</td>
                <td>{{experienceInfo.duration ? experienceInfo.duration : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Current CTC :</td>
                <td>{{experienceInfo.current_Ctc ? experienceInfo.current_Ctc : 'Not Available'}}</td>
              </tr>
              <tr>
                <td class="font-weight-600"> Expected CTC :</td>
                <td>{{experienceInfo.expected_Ctc ? experienceInfo.expected_Ctc : 'Not Available'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <div>
            <h4 class="text-dark-blue">Skills</h4>
            <table class="table bg-dark-black mt-30 border-light" *ngIf="skills.length > 0">
              <tr>
                <td>
                  <span class="pads-small" *ngFor="let name of skills">
                    {{name}}
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
          <h4>Resume</h4>
          <applicant-resume [(applicant)]="applicant"></applicant-resume>

          <form [formGroup]="resumeForm" novalidate (ngSubmit)="uploadResume()">
              <div class="row">
                <div class="form-group col-sm-12">
                  <!-- <label for="name">Upload Resume &nbsp;</label> -->
                  <div class="upload_wrpper c-pointer">
                    <input type="file" class="resume_upload-input" multiple="" accept=".doc, .docx, .pdf" name="resume"
                      #file (change)="onFileChange(file.files)" formControlName="resume">
                    <div class="upload_center-content text-center">
                      <img class="cloud_img" src="../../../../assets/img/cloud.png" alt="">
                      <p>Upload your file here</p>
                    </div>
                  </div>
                  <small class="text-danger"
                    *ngIf="resumeForm.controls['resume'].hasError('required') && resumeForm.controls['resume'].touched">
                    Please select file
                  </small>
                  <small class="text-danger" *ngIf="errInvalidFile">
                    Please select only pdf /doc /docx file
                  </small>
                </div>
              </div>
              <button [disabled]="isResumeUploading" type="submit" class="btn btn-success">Upload
                <span *ngIf="!isResumeUploading">
                  <i class="fa fa-arrow-circle-right"></i>
                </span>
                <span *ngIf="isResumeUploading">
                  <i class="fa fa-spinner fa-spin"></i>
                </span>
              </button>
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="main-content padding-20px-tb plr-15">
            <h4 class="text-dark-blue">Applied Jobs</h4>
            <hr>
            <div class="job-box" *ngFor="let job of appliedJobs">
              <h5> Title - {{job.job_post.title}}</h5>
              <hr>
              <ng-container *ngIf="job.jobStatus && job.jobStatus.length > 0">
                <!-- <div>
                  Applicant Job Status History
                </div> -->
                <div class="row">
                  <div class="col-md-2" *ngFor="let status of job.jobStatus">
                    <div class="status-box">
                      <div>{{status.modified_at}}</div>
                      <div>{{status.name}}</div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <div *ngFor="let commentObj of job.applicant_comments">
                <div class="comment-box">
                  <p>{{commentObj.comment}}</p>
                  <div class="row">
                    <div class="col-md-6" align="left">
                        {{commentObj.user.user_detail.first_name}} {{commentObj.user.user_detail.middle_name}} {{commentObj.user.user_detail.last_name}}
                    </div>
                    <div class="col-md-6" align="right">
                        {{commentObj.created_at | amTimeAgo}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog window-popup">
    <div class="modal-content">
      <div class="modal-header">
        <button id="closeButton" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Applicant Details</h4>
      </div>
      <div class="modal-body content-move " style="height: 100vh; overflow-y: scroll;">
        <!-- <app-create-applicant [data]="applicantDetails"></app-create-applicant> -->
      </div>
    </div>
  </div>
</div>