<ng-container *ngIf="gettingApplicant">
    <i *ngIf="gettingApplicant" class="fa fa-spinner fa-spin"></i>
</ng-container>
<ng-container *ngIf="!gettingApplicant">
    <section class="content content-wrapper">
        <div class="box box-info">
            <div class="box-header">
                <div class="row">
                    <div class="col-sm-5 mt-10">
                        <h3 class="box-title display-inline">{{job.title}}
                            <div data-toggle="modal" data-target="#infoModal"
                                 class="icon-circle-wrapper cursor pointer">
                                <i class="ti-info"></i>
                            </div>
                        </h3>
                    </div>
                    <div class="col-sm-7">
                        <div class="pull-right btn-sm">
                            <div class="form-inline">
                                <div class="btn-group form-group margin-right-10px" role="group"
                                     aria-label="Basic example">
                                    <button class="btn btn-sm btn-primary mr-2" (click)="createApplicant(job._id)">Create
                                        Applicant
                                    </button>
                                    <button class="btn btn-sm btn-info" (click)="addApplicants()">Search Database
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="database" class="main-content padding-20px-tb plr-15">
                <div class="row">
                    <div class='col-lg-4'>
                        <div class="form-group">
                            <input [(ngModel)]="searchText" (keyup)="onSearch()" type="text" class="form-control"
                                   placeholder="Search Applicant">
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="d-flex center-fit">
                            <div>
                                <div class="form-group mb-0">
                                    <div id="filterDate1">
                                        <!-- Datepicker as text field -->
                                        <div class="input-group">
                                            <input type="text" [(ngModel)]="startDate" [maxDate]="startMaxDate"
                                               [bsConfig]='bsConfig'
                                               (ngModelChange)="onDateChange($event, 'startDate')"
                                               class="w110px mt-0 form-control datepicker-date" placeholder="Datepicker"
                                               bsDatepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-to date-to">
                                <span>To</span>
                            </div>
                            <div>
                                <div class="form-group mb-0">
                                    <div id="filterDate2">
                                        <!-- Datepicker as text field -->
                                        <div class="input-group">
                                            <input type="text" [(ngModel)]="endDate" [maxDate]="endMaxDate"
                                               [minDate]="endMinDate"
                                               [bsConfig]='bsConfig' (ngModelChange)="onDateChange($event,'endDate')"
                                               class="text-right w110px mt-0 form-control datepicker-date" placeholder="Datepicker"
                                               bsDatepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mr-4"><i class="fa fa-calendar" style="line-height: 30px;"></i></div>
                        </div>
                    </div>


                    <div class="col-lg-2">
                        <select (change)="onSourceFilterChange($event.target.value)"
                                class="form-control ng-pristine ng-valid ng-touched">
                            <option [value]="">Source</option>
                            <option *ngFor="let source of sourceType"
                                    [selected]="source.toLocaleLowerCase()===filter.source"
                                    [value]="source.toLocaleLowerCase()">{{source}}</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn" [ngClass]="[ isGridView == true ? 'btn': 'btn active']" (click)="changeViewStatus(false)"><i
                                class="fa fa-bars"></i> List
                        </button>
                    </div>
                    <div class="col-lg-1">
                        <button [ngClass]="[ isGridView == true ? 'btn active': 'btn']" (click)="changeViewStatus(true)"><i
                                class="fa fa-th-large"></i> Grid
                        </button>
                    </div>
                </div>
                <ng-container *ngIf="gettingApplicant">
                    <i *ngIf="gettingApplicant" class="fa fa-spinner fa-spin"></i>
                </ng-container>
                <ng-container *ngIf="!gettingApplicant">
                    <ng-container *ngIf="isGridView">
                        <app-pipieline-grid (onChangeStatus)="changeStatus($event)"
                                            (getPipeLine)="updatePipeLine()"
                                            (changeFilter)="updateChildData($event)" [JobApplicants]="JobApplicants"
                                            [pipeLines]="pipeLines" [jobId]="jobId"></app-pipieline-grid>
                    </ng-container>
                    <ng-container *ngIf="!isGridView">

                        <app-pipieline-list  [filter]="filter" (onChangeStatus)="changeStatus($event)"
                                            [pipeLines]="pipeLines" [jobId]="jobId"></app-pipieline-list>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </section>
</ng-container>

