<div class="modal-header">
  <button id="closeButton" type="button" class="close" (click)="bsModelRef.hide()" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Inbound</h4>
</div>
<div class="modal-body content-move">
  <form [formGroup]="inboundForm" novalidate (ngSubmit)="editInbound(inboundForm.value)">

    <div class="row">
      <div class="col-sm-12">
        <label for="type">Type*</label>
        <select class="form-control" formControlName="type" required>
          <option value="imap" selected>
            imap
          </option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label for="host">Host*</label>
        <input type="text" placeholder="Host" class="form-control" formControlName="host" required>
        <small class="text-danger"
          *ngIf="inboundForm.controls['host'].hasError('required') && inboundForm.controls['host'].touched">
          Please enter Host
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label for="user">User*</label>
        <input type="text" placeholder="User" class="form-control" formControlName="user" required>
        <small class="text-danger"
          *ngIf="inboundForm.controls['user'].hasError('required') && inboundForm.controls['user'].touched">
          Please enter User
        </small>
      </div>
    </div>    

    <div class="row">
      <div class="col-sm-12">
        <label for="password">Password*</label>
        <input type="password" placeholder="Password" class="form-control" formControlName="password" required>
        <small class="text-danger"
          *ngIf="inboundForm.controls['password'].hasError('required') && inboundForm.controls['password'].touched">
          Please enter Password
        </small>
      </div>
    </div>
    
    <br>

    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label for="ssl">SSL/STARTTLS*</label>
          <select class="form-control" formControlName="ssl" required>
            <option value="1">
              Yes
            </option>
            <option value="0">
              No
            </option>
          </select>
          <small class="text-danger"
            *ngIf="inboundForm.controls['ssl'].hasError('required') && inboundForm.controls['ssl'].touched">
            Please select an option
          </small>
        </div>
    
        <div class="col-sm-6">
          <label for="port">Port*</label>
          <input type="text" placeholder="Port" class="form-control" formControlName="port" required>
          <small class="text-danger"
            *ngIf="inboundForm.controls['port'].hasError('required') && inboundForm.controls['port'].touched">
            Please enter Port
          </small>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <label for="folder">Folder*</label>
          <input type="text" placeholder="Folder" class="form-control" formControlName="folder" required>
          <small class="text-danger"
            *ngIf="inboundForm.controls['folder'].hasError('required') && inboundForm.controls['folder'].touched">
            Please enter Folder
          </small>
        </div>
    
        <div class="col-sm-6">
          <label for="messages">Keep messages on server*</label>
          <select class="form-control" formControlName="messages" required>
            <option value="1">
              Yes
            </option>
            <option value="0">
              No
            </option>
          </select>
          <small class="text-danger"
            *ngIf="inboundForm.controls['messages'].hasError('required') && inboundForm.controls['messages'].touched">
            Please select an option
          </small>
        </div>
      </div>
    </div>

    <br>
    
    <div class="row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success">Submit
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>  